---
---
<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ site.title }}</title>
    {% include favicon.html %}
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/lightgallery@2.2.1/css/lightgallery-bundle.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <script src="https://use.fontawesome.com/4c9066f1a6.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightgallery@2.2.1/lightgallery.umd.min.js"></script>
  </head>
  <body>
    <div id="container">
      <h2 class="header">{{ site.full_name }}</h2>
      <h3>Landscape Photography</h3>
        <div id="lightgallery">
          {% for item in site.data.photos %}
            <a class="gallery-item" data-src="{{ item.large_photo }}" data-sub-html="{{ item.desc }}">
              <img class="gallery-img" alt="{{ item.desc }}" src="{{ item.large_photo }}" style="{{ item.width-height }}" />
            </a>
          {% endfor %}
      </div>
    </div>
    <div class="footer">
      <div class="links">
        <a id="instagram" class="links__icon" href="https://www.instagram.com/{{ site.instagram }}">
          <span class="view-ig"> View my Instagram </span>
          <i class="fa fa-instagram fa-lg"></i>
        </a>
      </div>
    </div>
  </body>
  <script>
    lightGallery(document.getElementById('lightgallery'), {
        speed: 500,
        download: false,
        licenseKey: '236F25D5-F52B4FAC-9AA3E37D-5BADEF61'
    });
  </script>
  {% include ga.html %}
</html>
